.page-event {
  &__head,
  &__article,
  &__events {
    margin-bottom: toREM(96);

    @media (max-width: toEM(768.98)) {
      margin-bottom: toREM(60);
    }
  }
  &__head {
    @media (max-width: toEM(768.98)) {
      margin-bottom: toREM(30);
    }
  }
}
.head-event {
  padding-top: toREM(163);
  padding-bottom: toREM(96);
  background-color: $ultraLightGreen;

  @media (max-width: toEM(991.98)) {
    padding-top: toREM(130);
  }
  @media (max-width: toEM(768.98)) {
    padding-bottom: toREM(60);
  }
  @media (max-width: toEM(375)) {
    padding-top: toREM(110);
  }

  &__inner {
    margin: 0 auto;
    padding: toREM(0) toREM(15);
    max-width: toREM(798);
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-size: toREM(56);
    &:not(:last-child) {
      margin-bottom: toEM(48, 48);
    }

    @media (max-width: toEM(524)) {
      font-size: toREM(48);
    }
    @media (max-width: toEM(375)) {
      font-size: toREM(40);
    }
  }

  &__content {
    color: $deepBlue;
    font-size: toREM(16);
    font-weight: 500;
    line-height: 1.6;

    display: flex;
    column-gap: toREM(47);
    row-gap: toREM(12);
    flex-wrap: wrap;
  }

  &__address,
  &__date {
    display: flex;
    gap: toREM(7);
    justify-content: center;
    &::before {
      font-size: toREM(23);
    }
  }
}

// Article &__article {

.article-event {
  &__inner {
    margin: 0 auto;
    padding: toREM(0) toREM(15);
    max-width: toREM(798);
  }
  h2 {
    font-size: toREM(48);
    font-weight: 700;
    line-height: 1.2;
    color: $deepBlue;

    &:not(:last-child) {
      margin-bottom: toEM(32, 48);
    }

    @media (max-width: toEM(524)) {
      font-size: toREM(42);
    }
    @media (max-width: toEM(375)) {
      font-size: toREM(38);
    }
  }
  p {
    color: $deepGrey;
    font-size: toREM(16);
    line-height: 1.6;

    &:not(:last-child) {
      margin-bottom: toREM(30);
    }
  }

  img {
    border-radius: toREM(12);
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 768 /320;
    &:not(:last-child) {
      margin-bottom: toREM(30);
    }
  }
}

// Events
.events {
  &__inner {
    margin: 0 auto;
    padding: toREM(0) toREM(15);
    max-width: toREM(798);
  }
}

.cards-events {
  .page-event__events & {
    display: block;
  }
  &__item {
    .page-event__events & {
      &:not(:last-child) {
        margin-bottom: toREM(24);
      }
    }
  }
}
